.git
.gitignore
.env
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.pytest_cache/
instance/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store 